@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

section.Apresentacao {

    background-color: #121212;
    height: 105vh;
    display: flex;
    align-items: center;

}

.apresentar h1 {

    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 80px;

}

.apresentar h2 {

    color: white;
    font-family: 'Inter', sans-serif;
    padding-top: 24px;
    font-weight: 300;
    width: 64%;
    line-height: 30px;

}

.apresentar {

    width: 50%;
    margin-left: 30px;

}

.imagemaolado {

    width: 49%;

}

.imagemaolado img {

    width: 556px;
    height: 556px;
    padding-top: 70px;

}

.botoes {

    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;

}

.Botao-apresenta1 {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.Botao-apresenta1:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.Botao-apresenta1:hover {
    color: #fff;
}

.Botao-apresenta1:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.Botao-apresenta1:hover:before {
    top: -30px;
    left: -30px;
}

.Botao-apresenta1:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

.Botao-apresenta2 {
    --color2: #560bad;
    width: 136px;
    height: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid;
    color: var(--color2);
    z-index: 1;
}

.Botao-apresenta2::before,
.Botao-apresenta2::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color2);
    transition: 1s ease;
}

.Botao-apresenta2::before {
    top: -1em;
    left: -1em;
}

.Botao-apresenta2::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.Botao-apresenta2:hover::before,
.Botao-apresenta2:hover::after {
    height: 410px;
    width: 410px;
}

.Botao-apresenta2:hover {
    color: rgb(10, 25, 30);
}

.Botao-apresenta2:active {
    filter: brightness(.8);
}

section.sobremim-home {

    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

}

.controle-sobremim {

    width: 90%;
    display: flex;

}

.Sobre-mim-Paragrafo h3 {

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-right: 120px;
}

.Sobre-mim-content {

    width: 77%;
    display: flex;
    flex-direction: column;

}

.Sobre-mim-content h2 {

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-left: 40px;
    line-height: 32px;

}

.botoes-sobremim {

    margin: 41px;

}

section.MeusProjetos-home {

    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;

}

.controle-MeusProjetos {

    width: 90%;
    display: flex;

}

.MeusProjetos-Paragrafo {

    width: 36.5%;

}

.MeusProjetos-Paragrafo h3 {

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-right: 120px;
}

.cima {

    display: flex;
    flex-direction: row;

}

.card {

    display: flex;
    flex-direction: column;
    width: 60%;

}

.imagemcardprojeto img {

    width: 90%;
    height: 406px;
    border-radius: 5px;
    filter: grayscale(90%);

}

.imagemcardprojeto img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagemcardprojeto img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  filter: brightness(120%);
  transition: 0.5s;
}

.textos-projetos-home {

    width: 100%;

}

h2#ProjetoNome {

    margin-top: 18px;
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 600;

}

p#ProjetoDesc {

    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    line-height: 22px;
    width: 90%;

}

.botaoprojeto-home {

    margin-top: 12px;

}

#baixo {

    padding-top: 40px;

}

section.Contactme {

    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

}

.Contactme-div {

    width: 90%;
    display: flex;

}

.Contactme-Paragrafo h3 {

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-right: 110px;
}

.Contactme-content {

    width: 77%;
    display: flex;
    flex-direction: column;

}

.Contactme-content h2 {

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;

}

.gmail h1 {

    font-family: 'inter', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 52px;
    padding-top: 20px;

}

.redessociais {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 50px;

}

.redessociais a {

    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 600;

}

.redessociais p {

    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 600;

}

#RedeSocialButton {
    font-size: 14px;
    color: #e1e1e1;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

#RedeSocialButton:focus,
#RedeSocialButton:hover {
    color: #fff;
}

#RedeSocialButton:focus:after,
#RedeSocialButton:hover:after {
    width: 100%;
    left: 0%;
}

#RedeSocialButton:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}


footer.rodape{

    border-top: 1px outset grey;

}


.footer-bottom {
    background: #121212;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-bottom p {
    float: left;
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}



.footer-menu {
    float: right;
    margin-left: 30px;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;

    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;

    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}


@media screen and (max-width: 390px) {

    section.Apresentacao {
        height: auto; 
      }
      
      .apresentar h1 {
        font-size: 24px; 
      }
      
      .apresentar h2 {
        font-size: 12px; 
        width: 100%; 
        text-align: start; 
        padding-top: 6px; 
        line-height: 16px; 
      }
      
      .Apresentacao {
        padding: 8px; 
      }
      
      .imagemaolado {
        width: 100%;
        margin-top: 8px; 
      }
      
      .imagemaolado img {
        width: 100%;
        height: auto;
        padding-top: 0;
      }
      
      .botoes {
        flex-direction: row; 
        gap: 6px; 
        padding-top: 6px; 
      }
      
      .Botao-apresenta1,
      .Botao-apresenta2 {
        max-width: 80px; 
        font-size: 8px; 
      }
      
      .Botao-apresenta1:before {
        height: 40px; 
        width: 60px; 
      }
      
      .Botao-apresenta2::before,
      .Botao-apresenta2::after {
        width: 12px; 
        height: 12px; 
      }
      
      .Botao-apresenta2:hover::before,
      .Botao-apresenta2:hover::after {
        height: 60px; 
        width: 60px; 
      }
      
      .Botao-apresenta2 {
        width: 50px; 
        height: 20px; 
      }

      section.sobremim-home {
        padding-top: 8px; 
      }
      
      .controle-sobremim {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .Sobre-mim-Paragrafo {
        width: 18%; 
        text-align: start;
      }
      
      .Sobre-mim-Paragrafo h3 {
        padding-left: 10px; 
        font-size: 12px; 
      }
      
      .Sobre-mim-content {
        width: 70%;
      }
      
      .Sobre-mim-content h2 {
        margin-left: 0;
        text-align: start;
        font-size: 10px; 
        line-height: 12px;
      }
      
      .botoes-sobremim {
        margin: 8px 0; 
        text-align: start;
      }

      section.MeusProjetos-home {
        padding-top: 8px; 
      }
      
      .controle-MeusProjetos {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .MeusProjetos-Paragrafo {
        width: 18%;
        text-align: start;
        margin-bottom: 10px; 
      }
      
      .MeusProjetos-Paragrafo h3 {
        padding-left: 10px; 
        font-size: 10px; 
      }
      
      .cima {
        flex-direction: row; 
        align-items: start;
        gap: 10px; 
      }
      
      .card {
        width: 40%; 
        padding-bottom: 20px; 
      }
      
      .imagemcardprojeto img {
        width: 100%;
        max-height: 150px; 
        border-radius: 5px;
      }
      
      .textos-projetos-home {
        width: 100%;
      }
      
      h2#ProjetoNome {
        margin-top: 8px; 
        text-align: start;
        font-size: 14px; 
      }
      
      p#ProjetoDesc {
        width: 100%;
        font-size: 10px; 
        line-height: 12px;
      }
      
      .botaoprojeto-home {
        margin-top: 8px;
      }
      
      #baixo {
        padding-top: 12px; 
        padding-bottom: 20px; 
      }

      section.Contactme {
        padding-top: 8px; 
      }
      
      .Contactme-div {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .Contactme-Paragrafo {
        width: 18%; 
        text-align: start;
        margin-bottom: 10px; 
      }
      
      .Contactme-Paragrafo h3 {
        padding-left: 10px; 
        font-size: 10px; 
      }
      
      .Contactme-content {
        width: 100%;
      }
      
      .Contactme-content h2 {
        text-align: start;
        font-size: 10px; 
      }
      
      .gmail h1 {
        font-size: 12px; 
        text-align: start;
        padding-top: 8px; 
      }
      
      .redessociais {
        flex-direction: row; 
        align-items: start;
        margin-top: 10px; 
        padding-bottom: 12px; 
      }
      
      .redessociais a,
      .redessociais p {
        text-align: start;
      }
      
      #RedeSocialButton {
        font-size: 8px; 
      }

      .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-menu {
        float: none; 
        margin-left: 0;
        margin-top: 10px; 
    }
    
    .footer-menu ul {
        flex-direction: column; 
        text-align: center;
    }
    
    .footer-menu ul li {
        padding-right: 0; 
        margin-bottom: 8px; 
    }
    
    
    
    .footer-bottom p {
        float: left;
        color: white;
        font-family: 'inter', sans-serif;
        font-size: 14px;
        word-spacing: 2px;
    }
    
    .footer-bottom p a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }
    
    .footer-menu ul li a {
        color: #cfd2d6;
        text-decoration: none;
    }
    
    .footer-menu ul li a:hover {
        color: #27bcda;
    }

}

@media only screen and (min-width: 390px) and (max-width: 459px) {

    section.Apresentacao {
        height: auto; 
      }
      
      .apresentar h1 {
        font-size: 30px; 
      }
      
      .apresentar h2 {
        font-size: 14px; 
        width: 100%; 
        text-align: start; 
        padding-top: 8px; 
        line-height: 20px; 
      }
      
      .Apresentacao {
        padding: 10px; 
      }
      
      .apresentar {
        margin-left: 0; 
      }
      
      .imagemaolado {
        width: 100%;
        margin-top: 10px; 
      }
      
      .imagemaolado img {
        width: 100%;
        height: auto;
        padding-top: 0;
      }
      
      .botoes {
        flex-direction: row; 
        gap: 8px; 
        padding-top: 8px; 
      }
      
      .Botao-apresenta1,
      .Botao-apresenta2 {
        max-width: 100px; 
        font-size: 10px; 
      }
      
      .Botao-apresenta1:before {
        height: 50px; 
        width: 75px; 
      }
      
      .Botao-apresenta2::before,
      .Botao-apresenta2::after {
        width: 15px; 
        height: 15px; 
      }
      
      .Botao-apresenta2:hover::before,
      .Botao-apresenta2:hover::after {
        height: 75px; 
        width: 75px; 
      }
      
      .Botao-apresenta2{
        width: 65px;
        height: 25px;
      }

      section.sobremim-home {
        padding-top: 10px;
      }
      
      .controle-sobremim {
        flex-direction: row;
        width: 100%;
        margin: 0;
      }
      
      .Sobre-mim-Paragrafo {
        width: 30%; 
        text-align: start;
      }
      
      .Sobre-mim-Paragrafo h3 {
        padding-left: 15px;
        font-size: 18px;
      }
      
      .Sobre-mim-content {
        width: 100%;
      }
      
      .Sobre-mim-content h2 {
        margin-left: 0;
        text-align: start;
        font-size: 14px;
        line-height: 20px;
      }
      
      .botoes-sobremim {
        margin: 10px 0;
        text-align: start;
      }

      section.MeusProjetos-home {
        padding-top: 10px;
      }
      
      .controle-MeusProjetos {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .MeusProjetos-Paragrafo {
        width: 30%; 
        text-align: start; 
        margin-bottom: 15px; 
      }
      
      .MeusProjetos-Paragrafo h3 {
        padding-left: 15px;
        font-size: 18px;
      }
      
      .cima {
        flex-direction: row; 
        align-items: start; 
        gap: 20px;
      }
      
      .card {
        width: 40%; 
        padding-bottom: 40px;
      }
      
      .imagemcardprojeto img {
        width: 100%; 
        max-height: 200px; 
        border-radius: 5px;
      }
      
      .textos-projetos-home {
        width: 100%; 
      }
      
      h2#ProjetoNome {
        margin-top: 12px; 
        text-align: start; 
        font-size: 16px; 
      }
      
      p#ProjetoDesc {
        width: 100%; 
        font-size: 10px; 
        line-height: 14px;
      }
      
      .botaoprojeto-home {
        margin-top: 12px;
      }
      
      #baixo {
        padding-top: 20px; 
        padding-bottom: 30px; 
      }

      section.Contactme {
        padding-top: 20px;
      }
      
      .Contactme-div {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .Contactme-Paragrafo {
        width: 30%; 
        text-align: start; 
        margin-bottom: 15px; 
      }
      
      .Contactme-Paragrafo h3 {
        padding-left: 15px;
        font-size: 18px;
      }
      
      .Contactme-content {
        width: 100%;
      }
      
      .Contactme-content h2 {
        text-align: start;
        font-size: 10px;
      }
      
      .gmail h1 {
        font-size: 14px; 
        text-align: start; 
        padding-top: 10px;
      }
      
      .redessociais {
        flex-direction: row; 
        align-items: start; 
        margin-top: 15px; 
        padding-bottom: 20px; 
      }
      
      .redessociais a,
      .redessociais p {
        text-align: start; 
      }
      
      #RedeSocialButton {
        font-size: 8px;
      }

      .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        float: none; 
        margin-left: 0;
        margin-top: 10px; 
    }

    .footer-menu ul {
        flex-direction: column; 
        text-align: center;
    }

    .footer-menu ul li {
        padding-right: 0; 
        margin-bottom: 8px; 
    }

}

@media only screen and (min-width: 459px) and (max-width: 599px) {

    section.Apresentacao {
        height: auto; 
      }
    
      .apresentar h1 {
        font-size: 30px; 
      }
    
      .apresentar h2 {
        font-size: 14px; 
        width: 100%; 
        text-align: start; 
        padding-top: 8px; 
        line-height: 20px; 
      }
    
      .Apresentacao {
        padding: 10px; 
      }
    
      .apresentar {
        margin-left: 0; 
      }
    
      .imagemaolado {
        width: 100%;
        margin-top: 10px; 
      }
    
      .imagemaolado img {
        width: 100%;
        height: auto;
        padding-top: 0;
      }
    
      .botoes {
        flex-direction: row; 
        gap: 8px; 
        padding-top: 8px; 
      }
    
      .Botao-apresenta1,
      .Botao-apresenta2 {
        max-width: 120px; 
        font-size: 10px; 
      }
    
      .Botao-apresenta1:before {
        height: 60px; 
        width: 90px; 
      }
    
      .Botao-apresenta2::before,
      .Botao-apresenta2::after {
        width: 18px; 
        height: 18px; 
      }
    
      .Botao-apresenta2:hover::before,
      .Botao-apresenta2:hover::after {
        height: 90px; 
        width: 90px; 
      }

      .Botao-apresenta2{

        width: 79px;
        height:25px;

      }

      section.sobremim-home {
        padding-top: 10px;
      }
      
      .controle-sobremim {
        flex-direction: row;
        width: 100%;
        margin: 0;
      }
      
      .Sobre-mim-Paragrafo {
        width: 20%; 
        text-align: start;
      }
      
      .Sobre-mim-Paragrafo h3 {
        padding-left: 15px;
        font-size: 18px;
      }
      
      .Sobre-mim-content {
        width: 100%;
      }
      
      .Sobre-mim-content h2 {
        margin-left: 0;
        text-align: start;
        font-size: 14px;
        line-height: 20px;
      }
      
      .botoes-sobremim {
        margin: 10px 0;
        text-align: start;
      }
      
      section.MeusProjetos-home {
        padding-top: 10px;
      }
      
      .controle-MeusProjetos {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .MeusProjetos-Paragrafo {
        width: 20%; 
        text-align: start; 
        margin-bottom: 15px; 
      }
      
      .MeusProjetos-Paragrafo h3 {
        padding-left: 15px;
        font-size: 18px;
      }
      
      .cima {
        flex-direction: row; 
        align-items: start; 
        gap: 20px;
      }
      
      .card {
        width: 35%; 
        padding-bottom: 40px;
      }
      
      .imagemcardprojeto img {
        width: 100%; 
        max-height: 250px; 
        border-radius: 5px;
      }
      
      .textos-projetos-home {
        width: 100%; 
      }
      
      h2#ProjetoNome {
        margin-top: 12px; 
        text-align: start; 
        font-size: 20px;
      }
      
      p#ProjetoDesc {
        width: 100%; 
        font-size: 12px;
        line-height: 16px;
      }
      
      .botaoprojeto-home {
        margin-top: 12px;
      }
      
      #baixo {
        padding-top: 20px; 
        padding-bottom: 30px; 
      }

      section.Contactme {
        padding-top: 20px;
      }
      
      .Contactme-div {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
      
      .Contactme-Paragrafo {
        width: 20%; 
        text-align: start; 
        margin-bottom: 15px; 
        
      }
      
      .Contactme-Paragrafo h3 {
        padding-left: 15px;
        font-size: 18px;
      }
      
      .Contactme-content {
        width: 100%;
      }
      
      .Contactme-content h2 {
        text-align: start;
        font-size: 14px;
      }
      
      .gmail h1 {
        font-size: 22px; 
        text-align: start; 
        padding-top: 10px;
      }
      
      .redessociais {
        flex-direction: row; 
        align-items: start; 
        margin-top: 15px; 
        padding-bottom: 20px; 
      }
      
      .redessociais a,
      .redessociais p {
        text-align: start; 
      }
      
      #RedeSocialButton {
        font-size: 12px;
      }

      .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        float: none; 
        margin-left: 0;
        margin-top: 10px; 
    }

    .footer-menu ul {
        flex-direction: column; 
        text-align: center;
    }

    .footer-menu ul li {
        padding-right: 0; 
        margin-bottom: 8px; 
    }

}

@media only screen and (min-width: 599px) and (max-width: 767px) {

    section.Apresentacao {
        height: auto; 
      }
    
      .apresentar h1 {
        font-size: 40px; 
      }
    
      .apresentar h2 {
        font-size: 16px; 
        width: 60%; 
        text-align: start; 
        padding-top: 12px; 
        line-height: 24px; 
      }

    .Apresentacao {
        padding: 15px;
      }
    
      .apresentar {
        width: 100%;
        margin-left: 0;
      }
    
      .imagemaolado {
        width: 100%;
        margin-top: 15px;
      }
    
      .imagemaolado img {
        width: 100%;
        height: auto;
        padding-top: 0;
      }
    
      .botoes {
        flex-direction: row;
        gap: 10px;
        padding-top: 10px;
      }
    
      .Botao-apresenta1,
      .Botao-apresenta2 {
        width: 100%;
        max-width: 160px; 
        margin: 0 auto;
        font-size: 12px; 
      }
    
      .Botao-apresenta1:before {
        height: 80px; 
        width: 120px; 
      }
    
      .Botao-apresenta2::before,
      .Botao-apresenta2::after {
        width: 24px;
        height: 24px;
      }
    
      .Botao-apresenta2:hover::before,
      .Botao-apresenta2:hover::after {
        height: 120px; 
        width: 120px; 
      }

      .Botao-apresenta2{

        width: 80px;
        height: 30px;

      }

      /* */
      section.sobremim-home {
        padding-top: 10px;
      }
    
      .controle-sobremim {
        flex-direction: row;
        width: 100%;
        margin: 0;
      }

      .Sobre-mim-Paragrafo{

        width: 27%;

      }
    
      .Sobre-mim-Paragrafo h3 {
        padding-left: 15px;
        text-align: start;
      }
    
      .Sobre-mim-content {
        width: 100%;
      }
    
      .Sobre-mim-content h2 {
        margin-left: 0;
        text-align: start;
        font-size: 18px;
      }
    
      .botoes-sobremim {
        margin: 10px 0;
        text-align: start;
      }

      section.MeusProjetos-home {
        padding-top: 10px;
      }
    
      .controle-MeusProjetos {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }
    
      .MeusProjetos-Paragrafo {
        width: 27%; 
        text-align: start; 
        margin-bottom: 15px; 
      }
    
      .MeusProjetos-Paragrafo h3 {
        padding-left: 15px;
      }
    
      .cima {
        flex-direction: row; 
        align-items: start; 
        gap: 20px;
      }
    
      .card {
        width: 40%; 
        padding-bottom: 40px;
      }
    
      .imagemcardprojeto img {
        width: 100%; 
        max-height: 250px; 
        border-radius: 5px;
      }
    
      .textos-projetos-home {
        width: 100%; 
      }
    
      h2#ProjetoNome {
        margin-top: 12px; 
        text-align: start; 
      }
    
      p#ProjetoDesc {
        width: 100%; 
      }
    
      .botaoprojeto-home {
        margin-top: 12px;
      }
    
      #baixo {
        padding-top: 20px; 
        padding-bottom: 30px; 
      }

      section.Contactme {
        padding-top: 20px;
      }
    
      .Contactme-div {
        flex-direction: row; 
        width: 100%;
        margin: 0;
      }

      .Contactme-Paragrafo{

        width: 25%;

      }
    
      .Contactme-Paragrafo h3 {
        padding-left: 15px;
        text-align: start;
      }
    
      .Contactme-content {
        width: 100%;
      }
    
      .Contactme-content h2 {
        text-align: start;
        font-size: 18px;
      }
    
      .gmail h1 {
        font-size: 26px; 
        text-align: start; 
        padding-top: 10px;
      }
    
      .redessociais {
        flex-direction: row; 
        align-items: center; 
        margin-top: 15px; 
        padding-bottom: 20px; 
      }
    
      .redessociais a,
      .redessociais p {
        text-align: start; 
      }
    
      #RedeSocialButton {
        font-size: 12px;
      }

      .footer-bottom {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        float: none; 
        margin-left: 10px;
        margin-top: 10px; 
    }

    .footer-menu ul {
        flex-direction: column; 
        text-align: center;
    }

    .footer-menu ul li {
        padding-right: 0; 
        margin-bottom: 8px; 
    }


}

@media only screen and (min-width: 767px) and (max-width: 992px) {

    section.Apresentacao {
        height: auto; 
      }
    
      .apresentar h1 {
        font-size: 40px; 
      }
    
      .apresentar h2 {
        font-size: 16px; 
        width: 60%; 
        text-align: start; 
        padding-top: 12px; 
        line-height: 24px; 
      }

    .Apresentacao {
        height: auto;
        padding: 30px;
      }
    
      .apresentar {
        width: 100%;
        margin-left: 0;
      }
    
      .imagemaolado {
        width: 100%;
        margin-top: 20px;
      }
    
      .imagemaolado img {
        width: 100%;
        height: auto;
        padding-top: 0;
      }
    
      .botoes {
        flex-direction: row;
        gap: 10px;
        padding-top: 10px;
      }
    
      .Botao-apresenta1,
      .Botao-apresenta2 {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        font-size: 14px;
      }
    
      .Botao-apresenta1:before {
        height: 100px;
        width: 150px;
      }
    
      .Botao-apresenta2::before,
      .Botao-apresenta2::after {
        width: 30px;
        height: 30px;
      }
    
      .Botao-apresenta2:hover::before,
      .Botao-apresenta2:hover::after {
        height: 150px;
        width: 150px;
      }

      .Botao-apresenta2{

        width: 90px;
        height: 38px;

      }

      /**/

      section.sobremim-home {
        padding-top: 20px;
      }
    
      .controle-sobremim {
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
      }
    
      .Sobre-mim-Paragrafo h3 {
        padding-right: 0;
      }
    
      .Sobre-mim-content {
        width: 100%;
      }
    
      .Sobre-mim-content h2 {
        margin-left: 0;
        text-align: start;
        font-size: 20px;
      }
    
      .botoes-sobremim {
        margin: 20px 0;
        text-align: start;
      }

      /**/
      section.MeusProjetos-home {
        padding-top: 20px;
      }
    
      .controle-MeusProjetos {
        flex-direction: row; 
        width: 90%;
        margin: 0 auto;
      }
    
      .MeusProjetos-Paragrafo {
        width: 36.5%;
        text-align: left; 
        margin-bottom: 0; 
      }
    
      .MeusProjetos-Paragrafo h3 {
        padding-right: 0;
      }
    
      .cima {
        flex-direction: row; 
        align-items: center;
      }
    
      .card {
        width: 60%;
      }
    
      .imagemcardprojeto img {
        width: 90%; 
        max-height: 300px; 
        object-fit: cover; 
        border-radius: 5px;
      }
    
      .textos-projetos-home {
        width: 80%;
      }
    
      h2#ProjetoNome {
        margin-top: 18px;
      }
    
      p#ProjetoDesc {
        width: 100%;
      }
    
      .botaoprojeto-home {
        margin-top: 12px;
      }
    
      #baixo {
        padding-top: 40px;
        padding-bottom: 50px;
      }

      section.Contactme {
        padding-top: 40px;
      }
    
      .Contactme-div {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
      }
    
      .Contactme-Paragrafo h3 {
        padding-right: 0;
        text-align: center; 
      }
    
      .Contactme-content {
        width: 100%;
      }
    
      .Contactme-content h2 {
        text-align: start; 
        font-size: 20px;
      }
    
      .gmail h1 {
        font-size: 32px; 
        text-align: start; 
        padding-top: 10px;
      }
    
      .redessociais {
        flex-direction: row; 
        align-items: start; 
        margin-top: 20px;
        padding-bottom: 30px;
      }
    
      .redessociais a,
      .redessociais p {
        text-align: start; 
      }
    
      #RedeSocialButton {
        font-size: 12px; 
      }
    

}

@media screen and (min-width: 992px) and (max-width: 1190px){

    section.Apresentacao {
        height: auto; 
      }
    
      .apresentar h1 {
        font-size: 40px; 
      }
    
      .apresentar h2 {
        font-size: 16px; 
        width: 60%; 
        text-align: start; 
        padding-top: 12px; 
        line-height: 24px; 
      }

    .Apresentacao {
        height: auto;
        padding: 30px;
      }
    
      .apresentar {
        width: 100%;
        margin-left: 0;
      }
    
      .imagemaolado {
        width: 100%;
        margin-top: 20px;
      }
    
      .imagemaolado img {
        width: 100%;
        height: auto;
        padding-top: 0;
      }
    
      .botoes {
        flex-direction: row;
        gap: 10px;
        padding-top: 10px;
      }
    
      .Botao-apresenta1,
      .Botao-apresenta2 {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        font-size: 14px;
      }
    
      .Botao-apresenta1:before {
        height: 100px;
        width: 150px;
      }
    
      .Botao-apresenta2::before,
      .Botao-apresenta2::after {
        width: 30px;
        height: 30px;
      }
    
      .Botao-apresenta2:hover::before,
      .Botao-apresenta2:hover::after {
        height: 150px;
        width: 150px;
      }

      .Botao-apresenta2{

        width: 90px;
        height: 38px;

      }

    section.MeusProjetos-home {
        padding-top: 20px;
      }
    
      .controle-MeusProjetos {
        flex-direction: row; 
        width: 90%;
        margin: 0 auto;
      }
    
      .MeusProjetos-Paragrafo {
        width: 36.5%;
        text-align: left; 
        margin-bottom: 0; 
      }
    
      .MeusProjetos-Paragrafo h3 {
        padding-right: 0;
      }
    
      .cima {
        flex-direction: row; 
        align-items: center;
      }
    
      .card {
        width: 60%;
      }
    
      .imagemcardprojeto img {
        width: 90%; 
        max-height: 300px; 
        object-fit: cover; 
        border-radius: 5px;
      }
    
      .textos-projetos-home {
        width: 80%;
      }
    
      h2#ProjetoNome {
        margin-top: 18px;
      }
    
      p#ProjetoDesc {
        width: 100%;
      }
    
      .botaoprojeto-home {
        margin-top: 12px;
      }
    
      #baixo {
        padding-top: 40px;
        padding-bottom: 50px;
      }

      section.Contactme {
        padding-top: 40px;
      }
    
      .Contactme-div {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
      }
    
      .Contactme-Paragrafo h3 {
        padding-right: 0;
        text-align: center; 
      }

      .Contactme-content {
        width: 100%;
      }
    
      .Contactme-content h2 {
        text-align: start; 
        font-size: 20px;
      }
    
      .gmail h1 {
        font-size: 44px; 
        text-align: start; 
        padding-top: 10px;
      }
    
      .redessociais {
        flex-direction: row; 
        align-items: start; 
        margin-top: 20px;
        padding-bottom: 30px;
      }
    
      .redessociais a,
      .redessociais p {
        text-align: start; 
      }
    
      #RedeSocialButton {
        font-size: 12px; 
      }

}
